.container-card-rate{
    display: flex;
    flex-direction:row;
    font-size: 20px;
    color:#C7C7C7;
    padding:20px
}
.container-start{
    margin-left:240px;
}
.container-start svg{
    margin-right: 15px;
    
}